<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>
  <scene>
    <controllingCamera value="false"/>
    <levelSelector value="1"/>
    <godSelector value="0"/>
    <collisionCounter value="0"/>
    <firstLevelPosition x="200.0f" y="230.0f"/>
    <secondLevelPosition x="100" y="150"/>
    <Width1 value="16"/>
    <Width2 value="16"/>
    <Height1 value="50"/>
    <Height2 value="48"/>
    <Wincon1 x="1328" y="240"/>
    <Wincon2 x="16" y="331"/>
    <level1Path value="level1.tmx"/>
    <level2Path value="level2.tmx"/>
    <song1Path value="audio/Grasslands_Theme.ogg"/>
    <song2Path value="audio/Desert_Theme.ogg"/>
    <firstLimit x="0" y="0"/>
    <secondLimit x="928" y="0"/>
    <volume value="0"/>
  </scene>
  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>
  <audio>
    <path value ="audio/Grasslands_Theme.ogg"/>
    <path value ="audio/Desert_Theme.ogg"/>
  </audio>
  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
    <seeCollisions value="false"/>
  </map>
  <player>
    <gravity value="0.7f"/>
    <path value="character/adventurer-Sheet2.png"/>
    <position x="200.0f" y="180.0f"/>
    <speedplayer x="2.0f" y="0.0f"/>
    <initialcamera value="true"/>
    <left value="false"/>
    <jumping value="false"/>
    <jumpagain value="false"/>
    <jumpPower value="-10.0f"/>
    <maxjumpHeight value="5.0f"/>
    <godMode value="false"/>
    <cantjump value="false"/>
    <inAir value="false"/>
    <cantGoLeft value="false"/>
    <cantGoLeft value="false"/>
    <dontFly value="false"/>
    <cantJump value="false"/>
    <doubleJump value="0"/>
  </player>
</config>