<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
    <controllingCamera value="false"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>
  <audio>
    <path value ="" />
  </audio>
  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
    <seeCollisions value="false"/>
  </map>
  <player>
    <gravity value="0.5f"/>
    <path value="character/adventurer-Sheet2.png"/>
    <position x="50" y="230"/>
    <speedplayer x="2.0f" y="0.0f"/>
    <initialcamera value="true"/>
    <left value="false"/>
    <solidground value="true"/>
    <jumpagain value="false"/>
    <jumpPower value="-10"/>
    <maxjumpHeight value="5"/>
 
    <animation type ="idle" speed="0.1f" loop="true">
    <frame x="14" y="7" w="19" h="29"/>
    <frame x="66" y="6" w="17" h="30"/>
    <frame x="115" y="6" w="19" h="30"/>
    <frame x="163" y="7" w="20" h="29"/>
    </animation>
    <animation type ="move" speed="0.2f" loop="true">
    <frame x="67" y="45" w="20" h="28"/>
    <frame x="116" y="46" w="20" h="27"/>
    <frame x="166" y="48" w="20" h="26"/>
    <frame x="217" y="45" w="23" h="29"/>
    <frame x="266" y="46" w="20" h="27"/>
    <frame x="316" y="48" w="20" h="25"/>
    </animation>
    <animation type ="jump" speed="1.0f" loop="true">
    <frame x="15" y="86" w="20" h="24"/>
    <frame x="65" y="88" w="20" h="22"/>
    <frame x="117" y="81" w="19" h="27"/>
    <frame x="164 " y="79" w="21" h="23"/>
    <frame x="218" y="82" w="15" h="20"/>
    <frame x="264" y="84" w="23" h="17"/>
    <frame x="320" y="84" w="18" h="20"/>
    <frame x="14" y="124" w="23" h="17"/>
    <frame x="68" y="112" w="17" h="31"/>
    </animation>
    <animation type="fall" speed="0.1f" loop="false">
    <frame x="65" y="88" w="20" h="22"/>
    <frame x="118" y="113" w="17" h="30"/>
    </animation>
    <animation type="landing" speed="0.1f" loop="false">
    <frame x="15" y="86" w="21" h="24"/>
    </animation>
    <animation type ="idleleft" speed="0.1f" loop="true">
    <frame x="667" y="8" w="19" h="29"/>
    <frame x="617" y="7" w="17" h="30"/>
    <frame x="566" y="7" w="19" h="30"/>
    <frame x="517" y="8" w="20" h="29"/>
    </animation>
    <animation type ="moveleft" speed="0.2f" loop="true">
    <frame x="613" y="46" w="20" h="28"/>
    <frame x="564" y="47" w="20" h="27"/>
    <frame x="514" y="49" w="20" h="25"/>
    <frame x="460" y="46" w="23" h="28"/>
    <frame x="414" y="47" w="20" h="27"/>
    <frame x="364" y="49" w="20" h="25"/>
    </animation>
    <animation type ="jumpleft" speed="0.1f" loop="true">
    <frame x="665" y="87" w="20" h="24"/>
    <frame x="615" y="89" w="20" h="22"/>
    <frame x="564" y="82" w="19" h="27"/>
    <frame x="515" y="80" w="21" h="23"/>
    <frame x="467" y="83" w="15" h="20"/>
    <frame x="413" y="85" w="23" h="17"/>
    <frame x="362" y="85" w="18" h="20"/>
    <frame x="663" y="125" w="23" h="17"/>
    <frame x="615" y="113" w="17" h="31"/>
    </animation>
    <animation type ="fallLeft" speed="0.1f" loop="true">
    <frame x="565" y="113" w="17" h="30"/>
    <frame x="615" y="89" w="20" h="22"/>
    </animation>
    <animation type="landingLeft" speed="0.1f" loop="true">
    <frame x="665" y="87" w="20" h="24"/>
    </animation>
  </player>
</config>