<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>
  <scene>
    <controllingCamera value="false"/>
    <levelSelector value="1"/>
    <counter value="0"/>
    <firstLevelPosition x="200.0f" y="230.0f"/>
    <secondLevelPosition x="100" y="150"/>
    <Width1 value="16"/>
    <Width2 value="16"/>
    <Height1 value="112"/>
    <Height2 value="48"/>
    <Wincon1 x="1328" y="240"/>
    <Wincon2 x="16" y="331"/>
    <level1Path value="level1.tmx"/>
    <level2Path value="level2.tmx"/>
    <song1Path value="audio/Grasslands_Theme.ogg"/>
    <song2Path value="audio/Desert_Theme.ogg"/>
    <volume value="50"/>
  </scene>
  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>
  <audio>
    <path value ="audio/Grasslands_Theme.ogg"/>
    <path value ="audio/Desert_Theme.ogg"/>
  </audio>
  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
    <seeCollisions value="false"/>
  </map>
  <player>
    <gravity value="0.5f"/>
    <path value="character/adventurer-Sheet2.png"/>
    <position x="200.0f" y="225.0f"/>
    <speedplayer x="2.0f" y="0.0f"/>
    <dashSpeed x="70.0f" y="0.0f"/>
    <initialcamera value="true"/>
    <left value="false"/>
    <solidground value="true"/>
    <jumpagain value="false"/>
    <jumpPower value="-8.5f"/>
    <maxjumpHeight value="5.0f"/>
    <!--<dashLength value="50.0f"/>-->
    <!--<hasDashed value="true"/>-->
    <!--<dashPower value="50.0f"/>-->
    <!--<dashagain value="false"/>-->

    <animation type ="idle" speed="0.01f" loop="true">
      <frame x="15" y="7" w="19" h="30"/>
      <frame x="66" y="6" w="19" h="30"/>
      <frame x="116" y="6" w="19" h="30"/>
      <frame x="163" y="7" w="22" h="30"/>
    </animation>
    <animation type ="move" speed="0.2f" loop="true">
      <frame x="67" y="45" w="20" h="28"/>
      <frame x="116" y="46" w="20" h="27"/>
      <frame x="166" y="48" w="20" h="26"/>
      <frame x="217" y="45" w="23" h="29"/>
      <frame x="266" y="46" w="20" h="27"/>
      <frame x="316" y="48" w="20" h="25"/>
    </animation>
    <animation type ="jump" speed="0.2f" loop="true">
      <frame x="15" y="86" w="20" h="24"/>
      <frame x="65" y="88" w="20" h="22"/>
      <frame x="117" y="81" w="19" h="27"/>
      <frame x="164" y="79" w="21" h="23"/>
      <frame x="218" y="82" w="15" h="20"/>
      <frame x="264" y="84" w="23" h="17"/>
      <frame x="320" y="84" w="18" h="20"/>
      <frame x="14" y="124" w="23" h="17"/>
      <frame x="68" y="112" w="17" h="31"/>
    </animation>
    <animation type="fall" speed="0.1f" loop="false">
      <frame x="65" y="88" w="20" h="22"/>
      <frame x="118" y="113" w="17" h="30"/>
    </animation>
    <animation type="landing" speed="0.1f" loop="false">
      <frame x="15" y="86" w="21" h="24"/>
    </animation>
    <animation type ="idleleft" speed="0.1f" loop="true">
      <frame x="669" y="6" w="20" h="30"/>
      <frame x="619" y="6" w="20" h="30"/>
      <frame x="569" y="6" w="20" h="30"/>
      <frame x="519" y="6" w="20" h="30"/>
    </animation>
    <animation type ="moveleft" speed="0.2f" loop="true">
      <frame x="615" y="45" w="20" h="28"/>
      <frame x="566" y="46" w="20" h="27"/>
      <frame x="516" y="48" w="20" h="25"/>
      <frame x="465" y="45" w="20" h="28"/>
      <frame x="416" y="46" w="20" h="27"/>
      <frame x="366" y="48" w="20" h="25"/>
    </animation>
    <animation type ="jumpLeft" speed="0.2f" loop="true">
      <frame x="665" y="87" w="20" h="24"/>
      <frame x="615" y="89" w="20" h="22"/>
      <frame x="564" y="82" w="19" h="27"/>
      <frame x="515" y="80" w="21" h="23"/>
      <frame x="467" y="83" w="15" h="20"/>
      <frame x="413" y="85" w="23" h="17"/>
      <frame x="362" y="85" w="18" h="20"/>
      <frame x="663" y="125" w="23" h="17"/>
      <frame x="615" y="113" w="17" h="31"/>
    </animation>
    <animation type ="fallLeft" speed="0.1f" loop="false">
      <frame x="615" y="89" w="20" h="22"/>
      <frame x="565" y="113" w="17" h="30"/>
    </animation>
    <animation type="landingLeft" speed="0.1f" loop="true">
      <frame x="665" y="87" w="20" h="24"/>
    </animation>
    <animation type ="death" speed="0.2f" loop="false">
      <frame x="166" y="308" w="21" h="24"/>
      <frame x="217" y="308" w="18" h="24"/>
      <frame x="265" y="308" w="19" h="24"/>
      <frame x="316" y="308" w="21" h="24"/>
      <frame x="17" y="345" w="18" h="24"/>
      <frame x="65" y="345" w="19" h="24"/>
      <frame x="116" y="347" w="20" h="22"/>
      <frame x="168" y="351" w="17" h="18"/>
      <frame x="221" y="352" w="14" h="17"/>
      <frame x="268" y="351" w="17" h="18"/>
    </animation>
    <animation type ="deathLeft" speed="0.2f" loop="false">
      <frame x="515" y="308" w="21" h="24"/>
      <frame x="467" y="308" w="18" h="24"/>
      <frame x="419" y="308" w="19" h="24"/>
      <frame x="365" y="308" w="21" h="24"/>
      <frame x="667" y="345" w="18" h="24"/>
      <frame x="618" y="345" w="19" h="24"/>
      <frame x="566" y="347" w="20" h="22"/>
      <frame x="517" y="351" w="17" h="18"/>
      <frame x="467" y="352" w="14" h="17"/>
      <frame x="417" y="351" w="17" h="18"/>
    </animation>
    <animation name ="dash" speed="0.05f" loop="false">
      <frame x="219" y="269" w="20" h="26"/>
      <frame x="270" y="269" w="20" h="26"/>
      <frame x="302" y="272" w="48" h="23"/>
      <frame x="3" y="313" w="31" h="19"/>
      <frame x="50" y="312" w="34" h="20"/>
      <frame x="100" y="312" w="34" h="20"/>
    </animation>
    <animation name ="dashLeft" speed="0.05f" loop="false">
      <frame x="463" y="269" w="20" h="26"/>
      <frame x="412" y="269" w="20" h="26"/>
      <frame x="362" y="272" w="48" h="23"/>
      <frame x="668" y="313" w="31" h="19"/>
      <frame x="618" y="312" w="34" h="20"/>
      <frame x="568" y="312" w="34" h="20"/>
    </animation>
  </player>
</config>